.project {
    &-link {
        box-sizing: border-box;
        line-height: to-em(64);
        border-bottom: 1px solid;
        border-color: var(--black25);
        display: block;

        &-media {
            background: var(--accent2);
            display: inline-block;
            width: to-em(48);
            height: to-em(48);
            border-radius: 5px;
            object-fit: cover;
            object-position: center center;
            vertical-align: middle;
        }

        &-name {
            line-height: inherit;
            padding: 0 to-em(16);
        }
    }
}