
.home {
    background: $main-bg;

    .main-title {
        transition: transform ease-out 1s, opacity ease-in-out .5s;
        text-align: justify;
        text-transform: uppercase;
        font-weight: 900;
        position: fixed;
        bottom: to-em(104);
        font-size: 5.63vh;
        line-height: 6.63vh;
        padding: 0 to-em(($un-320 - $grid-max-area-320) / 2) 0 0;
        opacity: 1;

        @include layout-375() {
            padding: 0 to-em(($un-375 - $grid-max-area-375) / 2) 0 0;
        }

        @include layout-414() {
            padding: 0 to-em(($un-414 - $grid-max-area-414) / 2) 0 0;
        }

        @include layout-640() {
            font-size: 7.04vh;
            line-height: 7.05vh;
            padding: 0 to-em(($un-640 - $grid-max-area-640) / 2) 0 0;
        }

        @include layout-768() {
            font-size: 8.25vh;
            line-height: 9.25vh;
            padding: 0 to-em(($un-768 - $grid-max-area-768) / 2) 0 0;
        }
    
        @include layout-960() {
            padding: 0 to-em(($un-960 - $grid-max-area-960) / 2) 0 0;
        }
    
        @include layout-1024() {
            padding: 0 to-em(($un-1024 - $grid-max-area-1024) / 2) 0 0;
        }
    
        @include layout-1280() {
            font-size: 11.55vh;
            line-height: 12.55vh;
            padding: 0 to-em(($un-1280 - $grid-max-area-1280) / 2) 0 0;
        }

        @include layout-1440() {
            padding: 0 to-em(($un-1440 - $grid-max-area-1440) / 2) 0 0;
        }
    
        @include layout-1680() {
            padding: 0 to-em(($un-1680 - $grid-max-area-1680) / 2) 0 0;
        }
    
        @include layout-1920() {
            font-size: 10.63vh;
            line-height: 11.63vh;
            padding: 0 to-em(($un-1920 - $grid-max-area-1920) / 2) 0 0;
        }

        @include layout-2560() {
            font-size: 11.66vh;
            line-height: 12.66vh;
            padding: 0 to-em(($un-2560 - $grid-max-area-2560) / 2) 0 0;
            bottom: to-em(168);
        }

        @media screen and(max-width: #{$bk-640}) {
            @include ignore-br();
        }

        .show-banner & {
            transform: translateY(-104px);
        }

        .header-open & {
            opacity: 0;
        }

        span, a {
            color: $color-white;
            font-weight:900;
        }
    }

    .main {
        padding-top: 110vh;
        overflow: hidden;
    }


    &-projects {
        padding: to-em(104) 0;
        position: relative;
        background-color: $color-black;
        z-index: 1;
    }

    &-project {
        position: relative;
        display: block;
        text-align: center;

        .home & {
            overflow: visible;
            margin: 0 0 to-em(64);

            @include layout-640() {
                margin: 0 0 to-em(104);
            }

            @include layout-1024() {
                margin: 0 0 to-em(64);
            }

            @include layout-1280() {
                margin: 0 0 to-em(104);
            }

            @include layout-2560() {
                margin: 0 0 to-em(168);
            }
        }

        &:hover {
            .home & {
                cursor: none;
            }
        }


        &-title {
            position: relative;
            text-align: justify;

            span {
                transition: transform ease-in 1s, opacity cubic-bezier(1, 0.07, 0.58, 0.78) .5s;
                transform: skewX(0) translate3D(0, 25px, 0);
                display: block;
                color: $color-white;
                line-height: to-em(32);
                font-size: to-em(32);
                font-weight: 900;
                text-transform: uppercase;
                word-break: break-word;
                letter-spacing: to-em(2);
                word-spacing: to-em(32);
                min-width: 100%;
                opacity: 0;

                @include layout-375() {
                    line-height: to-em(40);
                    font-size: to-em(40);
                    word-spacing: to-em(40);
                }

                @include layout-1280() {
                    margin: 0;
                    line-height: to-em(104);
                    font-size: to-em(104);
                    letter-spacing: to-em(24);
                }

                @include layout-2560() {
                    line-height: to-em(168);
                    font-size: to-em(168);
                    letter-spacing: to-em(40);
                }

                &.view-in {
                    transition: transform ease-in .3s, opacity cubic-bezier(1, 0.07, 0.58, 0.78) .2s;
                    transform: skewX(-5deg) translate3D(0, 0, 0);
                    opacity: 1;

                    @include layout-768() {
                        transform: skewX(-10deg) translate3D(0, 0, 0);
                    }
                }
            }

            &:hover {
                span {
                    transform: skewX(0) translate3D(0, 0, 0);
                    text-decoration: underline;
                }
            }
        }
    }
}