
.home {
    .main {
        background: $color-white;
        padding: 0;
    }

    &-cover {
        box-sizing: border-box;

        @include layout-1024() {
            min-height: 75vh;
            padding-top: to-em(104);
            padding-bottom: to-em(104);
        }

        .main-title {
            transition: transform ease-in-out 1.5s, opacity ease-in-out .5s;
            font-size: to-em(40);
            font-weight: 200;

            &.view-out--above {
                transform: translate3D(5%, 0, 0);
                opacity: 0;
            }

            span {
                box-shadow: -2px -2px 3px 0 rgba(255, 255, 255, .15), 2px 2px 3px 0 rgba(0, 0, 0, .8);
                background: $color-black;
                color: $color-white;
            }

            &.desk {
                display: none;

                @include layout-1024() {
                    display: block;
                }
            }
        }

        .main-subtitle {
            transition: transform ease-in-out 1s, opacity ease-in-out .5s;
            text-align: center;

            &.view-out--above {
                transform: translate3D(-5%, 0, 0);
                opacity: 0;
            }

            &.desk {
                display: none;

                @include layout-1024() {
                    display: block;
                }
            }  
        }

        .main-text {
            transition: transform ease-in-out 1s, opacity ease-in-out .5s;
            font-size: to-em(24);
            line-height: to-em(64);
            padding-bottom: to-em(168);

            &.view-out--above {
                transform: translate3D(5%, 0, 0);
                opacity: 0;
            }

            &.first {
                padding-top: to-em(16);

                @include layout-1024() {
                    padding-top: 0;
                }
            }

            @include layout-1024() {
                padding-bottom: initial;
            }

            span {
                background: $color-white;
            }
        }

        @include layout-640() {
            .main-title {
                font-weight: 300;
                font-size: to-em(104);
            }
        }

        @include layout-1024() {
            display: grid;
            min-height: 100vh;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: to-em(64);

            .main-title,
            .main-subtitle {
                margin: 0;
                padding: 0;
                text-align: justify;
            }

            .main-title {
                grid-column-start: 2;
                grid-column-end: -1;
            }

            .main-subtitle {
                line-height: to-em(64);
                font-weight: 500;
                text-transform: uppercase;
                grid-column-start: 1;
            }

            .main-text {
                grid-column-start: 2;
                grid-column-end: 5;
                padding: 0;
            }
        }

        @include layout-1280() {
            .main-title {
                grid-column-start: 3;
                grid-column-end: 5;
            }

            .main-text {
                grid-column-start: 3;
                grid-column-end: 5;
                padding: 0;
            }
        }

        @include layout-1680() {
            .main-subtitle {
                grid-column-start: 2;
            }
        }

        @include layout-1920() {
            grid-gap: to-em(40);
        }

        @include layout-2560() {
            grid-row-gap: to-em(40);
            grid-column-gap: to-em(64);
        }

        &-mobile {
            position: relative;
            width: 100%;
            height: 100vh;

            &-content {
                position: absolute;
                top: 50vh;
                left: 0;
                transform: translate3D(0, -50%, 0);
                margin-top: to-em(-64);
                width: 100%;
            }

            @include layout-1024() {
                display: none;
            }
        }

        &-parent {
            background-color: $color-white;
        }
    }

    &-projects {
        transition: background-color ease-in-out .5s;
        padding-bottom: to-em(104);
        position: relative;
        background-color: transparent;

        .main-title {
            padding-top: to-em(24);

            @include layout-640() {
                padding-top: to-em(16);
            }

            @include layout-1024() {
                padding-top: to-em(40);
            }

            @include layout-1680() {
                padding-top: to-em(64);
            }

            @include layout-2560() {
                padding-top: to-em(104);
            }

            span {
                background: $color-black;
                color: $color-white;
                letter-spacing: to-em(2);
                margin-left:to-em(-8);
                box-shadow: to-em(4) to-em(4) 0 0 rgba(0,0,0, .25), to-em(8) to-em(8) 0 0 rgba(0,0,0, .25), to-em(12) to-em(12) 0 0 rgba(0,0,0, .25);

                @include layout-640() {
                    letter-spacing: to-em(8);
                    margin-left:to-em(-24);
                    box-shadow: to-em(8) to-em(8) 0 0 rgba(0,0,0, .5), to-em(16) to-em(16) 0 0 rgba(0,0,0, .5), to-em(24) to-em(24) 0 0 rgba(0,0,0, .5);
                }
            }
        }
    }

    &-project {
        position: relative;
        display: block;
        text-align: center;

        .home & {
            box-shadow: -2px -2px 3px 0 rgba(0, 0, 0, .05), 2px 2px 3px 0 rgba(0, 0, 0, .25);
            background-color: $color-white;
            overflow: hidden;
            padding: 0 to-em(16);
            margin: to-em(168 / 2) to-em(-16);

            @include layout-640() {
                margin: to-em(168 / 2) to-em(-24);
                padding: 0 to-em(24);
            }

            @include layout-768() {
                padding: 0;
                margin: to-em(168 / 2) -0;
            }

            @include layout-1024() {
                margin: to-em(104 / 2) 0;
            }

            @include layout-1280() {
                margin: to-em(168 / 2) 0;
            }

            @include layout-1440() {
                margin: to-em(272 / 2) 0;
            }

            @include layout-1680() {
                margin: to-em(442 / 2) 0;
            }
        }

        &:hover {
            .home & {
                cursor: none;
            }
        }


        &-title,
        &-at {
            position: relative;
            text-align: justify;
        }

        &-title {
            padding: to-em(272) to-em(2) to-em(242);

            @include layout-768() {
                padding: to-em(168) to-em(8) to-em(146);
            }

            @include layout-1920() {
                padding: to-em(272) to-em(8) to-em(250);
            }

            span {
                color: $color-white;
                background: $color-black;
                line-height: to-em(56);
                font-size: to-em(40);
                font-weight: 900;
                text-transform: uppercase;
                word-break: break-word;
                letter-spacing: to-em(0);
                word-spacing: to-em(40);
                min-width: 100%;
                box-shadow: -2px -2px 3px 0 rgba(255, 255, 255, .15), 2px 2px 3px 0 rgba(0, 0, 0, .8);

                @include layout-1280() {
                    margin: 0;
                    line-height: to-em(168);
                    font-size: to-em(104);
                    letter-spacing: to-em(24);
                }
            }
        }

        &-at {
            color: $color-white;
            padding: 0 to-em(164) to-em(16) to-em(4);
            text-transform: uppercase;
            line-height: to-em(16);
            font-size: to-em(16);
            

            @include layout-768() {
                padding: 0 to-em(8) to-em(32);
            }

            @include layout-1440() {
                padding: 0 to-em(8) to-em(32);
            }

            span {
                box-shadow: -2px -2px 3px 0 rgba(255, 255, 255, .15), 2px 2px 3px 0 rgba(0, 0, 0, .8);
                color: $color-white;
                background: $color-black;
                font-weight: 300;
            }
        }

        &-read {
            text-transform: uppercase;
            font-weight: 500;
            text-align: right;
            position: absolute;
            right: 0;
            padding: to-em(4) to-em(8);
            padding-right: to-em(2);
            word-break: break-all;
            text-align: center;
            background: $color-black;
            color: $color-white;
            bottom: to-em(8);
            border-top-left-radius: to-em(4);
            border-bottom-left-radius: to-em(4);
            box-shadow: -2px -2px 3px 0 rgba(255, 255, 255, .15), 2px 2px 3px 0 rgba(0, 0, 0, .8);

            @include layout-1024() {
                bottom: to-em(24);
            }
        }
    }

    &-media {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        object-fit: cover;
        object-position: center center;
        transform: translate3D(-50%, -50%, 0);
        width: 125%;
        height: 125%;
        visibility: visible;
        filter: blur(5px);
    }
}