.social {
    padding-bottom: to-em(272);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: to-em($gap-320);


    &-title {
        mix-blend-mode: difference;
        text-align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: to-em(64);
        font-weight: 500;

        @include layout-768() {
            font-weight: 300;
            font-size: to-em(104);
        }
    }

    &-subtitle {
        text-align: right;
        display: inline-block;
        position: relative;
        font-size: to-em(40);

        @include layout-960() {
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    &-text {
        font-weight: 300;
        font-size: to-em(64);
        line-height: to-em(64);
        text-align: justify;
        position: relative;

        @include layout-768() {
            font-size: to-em(104);
            line-height: to-em(128);
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .social-title {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .social-text.exception {
        font-weight: 200;
        grid-column-start: 1;
        grid-column-end: 6;
        padding: to-em(104) 0;

        @include layout-1680() {
            padding: 0;
        }
    }

    .social-subtitle {
        grid-column-start: 1;
        text-align: left;
    }

    .social-text {
        grid-column-start: 2;
        grid-column-end: 6;
    }

    @include layout-640() {
        grid-gap: to-em($gap-640);
    }

    @include layout-768() {
        grid-gap: to-em($gap-768);
    }

    @include layout-1024() {
        grid-gap: to-em($gap-1024);
    }

    @include layout-1440() {

        .social-title {
            grid-column-start: 1;
            grid-column-end: 6;
        }

        .social-text.exception {
            grid-column-start: 2;
            grid-column-end: 5;
        }

        .social-subtitle {
            grid-column-start: 2;
            text-align: right;
        }

        .social-text {
            grid-column-start: 3;
            grid-column-end: 5;
        }
    }

    @include layout-1680() {
        grid-gap: to-em($gap-1680);
    }

    @include layout-2560() {
        grid-gap: to-em($gap-2560);
    }

    &-bg {
        background: none;
        width: 150%;
        height: 150vh;
        top: 50%;
        left: 50%;
        position: fixed;
        filter: blur(15px);
        object-fit: cover;
        object-position: center;
        opacity: 0.9;
        transform: translate(-50%, -50%);
    }

    svg {
        fill: $color-white;
        mix-blend-mode: difference;
        width: to-em(64);
        height: to-em(64);

        @include layout-768() {
            width: to-em(128);
            height: to-em(128);
        }
    }
}