@media (prefers-reduced-motion: reduce) {
    * {
      transition: none !important;
    }
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    color: $color-black;
    background-color: $color-white;

    &.black {
        color: $color-white;
        background-color: $color-black;
    }
}

main {
    .header-open & {
        position: fixed;
    }
}

button {
    @extend %RESETBTN;
}

video, image, iframe, figure, picture,
p, a, hr, h1, h2, h3, h4, h5, h6, ul, ol, blockquote  {
    margin: 0;
    padding: 0;
}

a {
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: inherit;
}

video,
iframe,
img {
    background: rgba(0, 0, 0, 0);
}


.reverse {
    @extend %reverse;
}

.rel {
    position: relative;
}