/// VARIABLES
// @type Hexadecial Color
$color-black:               rgba(0, 0, 0, 1);
$color-black75:             rgba(0, 0, 0, .75);
$color-white:               rgba(255, 255, 255, 1);
$color-white75:             rgba(255, 255, 255, .75);
$color-blue:                #1666b5;

// Viewports
// @type pixels
// used for viewports
$vw-320:                    320px;
$vw-375:                    375px;
$vw-414:                    414px;
$vw-640:                    640px;
$vw-768:                    768px;
$vw-960:                    960px;
$vw-1024:                   1024px;
$vw-1280:                   1280px;
$vw-1440:                   1440px;
$vw-1680:                   1680px;
$vw-1920:                   1920px;
$vw-2560:                   2560px;

// @type number
// used for convesions
$un-320:                    320;
$un-375:                    375;
$un-414:                    414;
$un-640:                    640;
$un-768:                    768;
$un-960:                    960;
$un-1024:                   1024;
$un-1280:                   1280;
$un-1440:                   1440;
$un-1680:                   1680;
$un-1920:                   1920;
$un-2560:                   2560;


$gap-320:                   16;
$gap-375:                   16;
$gap-414:                   16;
$gap-640:                   24;
$gap-768:                   40;
$gap-960:                   40;
$gap-1024:                  64;
$gap-1280:                  64;
$gap-1440:                  64;
$gap-1680:                  104;
$gap-1920:                  104;
$gap-2560:                  168;


// Max area of the grid
$grid-max-area-320: $un-320 - $gap-320 * 2;
$grid-max-area-375: $un-375 - $gap-375 * 2;
$grid-max-area-414: $un-414 - $gap-414 * 2;
$grid-max-area-640: $un-640 - $gap-640 * 2;
$grid-max-area-768: $un-768 - $gap-768 * 2;
$grid-max-area-960: $un-960 - $gap-960 * 2;
$grid-max-area-1024: $un-1024 - $gap-1024 * 2;
$grid-max-area-1280: $un-1280 - $gap-1280 * 2;
$grid-max-area-1440: $un-1440 - $gap-1440 * 2;
$grid-max-area-1680: $un-1680 - $gap-1680 * 2;
$grid-max-area-1920: $un-1920 - $gap-1920 * 2;
$grid-max-area-2560: $un-2560 - $gap-2560 * 2;


// @type pixels
// used for media queries
$bk-375:                    $vw-375 - 1px;
$bk-414:                    $vw-414 - 1px;
$bk-640:                    $vw-640 - 1px;
$bk-768:                    $vw-768 - 1px;
$bk-960:                    $vw-960 - 1px;
$bk-1024:                   $vw-1024 - 1px;
$bk-1280:                   $vw-1280 - 1px;
$bk-1440:                   $vw-1440 - 1px;
$bk-1680:                   $vw-1680 - 1px;
$bk-1920:                   $vw-1920 - 1px;
$bk-2560:                   $vw-2560 - 1px;


// @type Float Number
// Base Speed Multiplier
$speed:                     1s;


// Z-indexes
$z-header:                  60;
$z-loader:                  100;