// Max Area
.max-area {
    max-width: 2560px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    padding: 0 to-em(($un-320 - $grid-max-area-320) / 2);

    @include layout-375() {
        padding: 0 to-em(($un-375 - $grid-max-area-375) / 2);
    }

    @include layout-414() {
        padding: 0 to-em(($un-414 - $grid-max-area-414) / 2);
    }

    @include layout-640() {
        padding: 0 to-em(($un-640 - $grid-max-area-640) / 2);
    }

    @include layout-768() {
        padding: 0 to-em(($un-768 - $grid-max-area-768) / 2);
    }

    @include layout-960() {
        padding: 0 to-em(($un-960 - $grid-max-area-960) / 2);
    }

    @include layout-1024() {
        padding: 0 to-em(($un-1024 - $grid-max-area-1024) / 2);
    }

    @include layout-1280() {
        padding: 0 to-em(($un-1280 - $grid-max-area-1280) / 2);
    }

    @include layout-1440() {
        padding: 0 to-em(($un-1440 - $grid-max-area-1440) / 2);
    }

    @include layout-1680() {
        padding: 0 to-em(($un-1680 - $grid-max-area-1680) / 2);
    }

    @include layout-1920() {
        padding: 0 to-em(($un-1920 - $grid-max-area-1920) / 2);
    }

    @include layout-2560() {
        padding: 0 to-em(($un-2560 - $grid-max-area-2560) / 2);
    }
}

.main {
    padding-top: to-em(40);
    padding-bottom: to-em(104);

    &-title {
        text-align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: to-em(64);

        @include layout-640() {
            font-size: to-em(104);
        }
    }

    &-subtitle {
        text-align: justify;
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: to-em(40);
        padding: to-em(40) 0 0;

        &+.main-text {
            padding: to-em(40) 0 0;
        }

        @include layout-960() {
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    &-text {
        &:first-of-type {
            padding-top: to-em(72);
        }

        padding: to-em(4) 0;
        font-size: to-em(16);
        line-height: to-em(20);
        text-align: justify;
        position: relative;

        @include layout-960() {
            padding: to-em(8) 0;
            font-size: to-em(24);
            line-height: to-em(32);
        }


        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        ul, ol {
            list-style-type: square;
            margin-top: to-em(16);
            margin-left: to-em(16);

            @include layout-960() {
                margin-top: to-em(24);
                margin-left: to-em(24);
            }

            @include layout-1440() {
                margin-top: to-em(64);
                margin-left: to-em(64);
            }

            @include layout-1920() {
                margin-top: to-em(40);
                margin-left: to-em(40);
            }

            @include layout-2560() {
                margin-top: to-em(64);
                margin-left: to-em(64);
            }
        }
    }

    &-map {
        border-radius: to-em(16);
        overflow: hidden;
        box-shadow: -2px -3px 7px 0 rgba(255, 255, 255, .3), 3px 3px 7px 0 rgba(255, 255, 255, .2);
        transition: opacity .5s ease-in;
        opacity: 0;
        position: relative;
        width:100%;
        height: to-em(568);
        margin: to-em(40) auto 0;
        max-width: #{$grid-max-area-1920}px;
        max-height: calc(100vh - #{to-em(144)});

        @include layout-768() {
            border-radius: to-em(24);
        }

        @include layout-960() {
            height: to-em(500);
            border-radius: to-em(280);
            max-height: calc(100vh - #{to-em(280)});
        }

        @include layout-1440() {
            max-height: calc(100vh - #{to-em(480)});
            margin: 0 auto;
            grid-column-start: 2;
            grid-column-end: 5;
        }

        .wf-active & {
            opacity: 1;
        }
    }
}

.footer,
.footer-modal {
    box-shadow: -1px -1px 3px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    background-color: $color-white;
    position: fixed;
    width: 100vw;
    bottom: 0;

    .max-area {
        @include layout-1440() {
            grid-gap: to-em(64);
        }

        @include layout-1920() {
            grid-gap: to-em(40);
        }

        @include layout-2560() {
            grid-row-gap: to-em(40);
            grid-column-gap: to-em(64);
        }
    }

    .black & {
        box-shadow: none;
        background-color: $color-black;
    }

    &-link {
        cursor: pointer;

        &-title {
            text-decoration: underline;
            font-weight: 500;
            text-transform: uppercase;
            font-size: to-em(11);
            letter-spacing: -0.04rem;

            .footer-link:hover &,
            .footer-link:focus &,
            .footer-modal-link:focus &,
            .footer-modal-link:focus & {
                text-decoration: none;
            }
        }
    }
}

.footer {
    z-index: $z-footer;
    padding-top: to-em(8);
    height: to-em(48 + 8 + 20);

    .max-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &-more {
        width: to-em(48);
        margin-left: to-em(-10);
        display: block;

        @mixin layout-960 () {
            display: none;
        }

        .footer-open & {
            svg {
                transform: scaleY(-1);
            }
        }

        .black & {
            color: $color-white;
        }

        span {
            display: inline-block;
            width: 100%;
        }
    }

    &-link {
        box-sizing: border-box;
        min-width: to-em(48);
        min-height: 100%;
        padding: to-em(4) 0;

        text-align: center;

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }

        span {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        svg {
            transition: background-color .3s ease-out;
            display: inline-block;
            fill: $color-white;
            border-radius: 100%;
            padding: to-em(4);
            background: $color-black;
            box-shadow: -1px -1px 4px 0px rgba(0,0,0,.05), 1px 1px 3px 0px rgba(0,0,0,.1);

            .has-media & {
                background: transparent;
            }
        }

        &:hover,
        &:focus {
            svg {
                background: rgba($color-blue, 1);

                .has-media & {
                    background: rgba($color-blue, .5);
                }
            }
        }

        &-video {
            z-index: -1;
            border-radius: 100%;
            object-position: center center;
            object-fit: cover;
            position: absolute;
            width: to-em(32);
            height: to-em(32);
        }
    }

    &-modal {
        z-index: 2;
        box-shadow: -1px -1px 10px -5px rgba(0, 0, 0, .1);
        transition: transform ease-out .5s;
        transform: translateY(150%);
        background: $color-black;
        padding-top: to-em(8);
        height: to-em(144 + 8 + 20);
        bottom: to-em(24 + 8 + 20);

        @include layout-1024() {
            bottom: 0;
        }

        .info & {
            bottom: to-em(28);

            @include layout-1024() {
                bottom: to-em(-24);
            }
        }

        .max-area {
            color: rgba(255, 255, 255, .8);
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding-top: to-em(8);
            padding-bottom: to-em(40);
            height: 100%;

            @include layout-1024() {
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr;
            }
        }

        .footer-open &,
        .absolute & {
            transform: translateY(0);
        }

        .black & {
            box-shadow: -1px -1px 10px -5px rgba(255, 255, 255, .1);
        }

        &-link {
            text-align: left;

            &-svg {
                display: none;

                @mixin layout-640() {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &-title {
                display: inline-block;
                font-weight: 500;
                font-size: to-em(12);
                letter-spacing: -.03rem;
                text-transform: uppercase;
                font-style: italic;

                @include layout-414() {
                    letter-spacing: -.015rem;
                }

                @include layout-640() {
                    font-size: to-em(16);
                    font-weight: 200;
                    letter-spacing: 0;
                }

                @include layout-1024() {
                    font-style: normal;
                    letter-spacing: to-em(1);
                }
            }

            &.right {
                text-align: right;
            }

            &.center {
                text-align: center;

                &-right {
                    text-align: center;

                    @include layout-1024() {
                        text-align: right;
                    }
                }
            }
        }
    }
}

.shuttle {
    transform: rotate(-90deg);
}

.lz-container {
    position: relative;
}