// TODO

// Max Area
.max-area {
    max-width: 2560px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    padding: 0 to-em(($un-320 - $grid-max-area-320) / 2);

    @include layout-375() {
        padding: 0 to-em(($un-375 - $grid-max-area-375) / 2);
    }

    @include layout-414() {
        padding: 0 to-em(($un-414 - $grid-max-area-414) / 2);
    }

    @include layout-640() {
        padding: 0 to-em(($un-640 - $grid-max-area-640) / 2);
    }

    @include layout-768() {
        padding: 0 to-em(($un-768 - $grid-max-area-768) / 2);
    }

    @include layout-960() {
        padding: 0 to-em(($un-960 - $grid-max-area-960) / 2);
    }

    @include layout-1024() {
        padding: 0 to-em(($un-1024 - $grid-max-area-1024) / 2);
    }

    @include layout-1280() {
        padding: 0 to-em(($un-1280 - $grid-max-area-1280) / 2);
    }

    @include layout-1440() {
        padding: 0 to-em(($un-1440 - $grid-max-area-1440) / 2);
    }

    @include layout-1680() {
        padding: 0 to-em(($un-1680 - $grid-max-area-1680) / 2);
    }

    @include layout-1920() {
        padding: 0 to-em(($un-1920 - $grid-max-area-1920) / 2);
    }

    @include layout-2560() {
        padding: 0 to-em(($un-2560 - $grid-max-area-2560) / 2);
    }
}

.main {
    padding-top: 48px;
    padding-bottom: 48px;
}


.footer,
.footer-modal {
    box-shadow: -1px -1px 3px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    background-color: $color-white;
    position: fixed;
    width: 100vw;
    height: 48px;
    bottom: 0;

    .black & {
        box-shadow: none;
        background-color: $color-black;
    }

    &-link {
        cursor: pointer;

        &-title {
            text-decoration: underline;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: -0.04rem;

            .footer-link:hover &,
            .footer-link:focus &,
            .footer-modal-link:focus &,
            .footer-modal-link:focus & {
                text-decoration: none;
            }
        }
    }
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: $z-footer;

    &-more {
        width: 48px;
        margin-left: -10px;
        display: block;

        @mixin layout-960 () {
            display: none;
        }

        .footer-open & {
            svg {
                background-color: chartreuse;
            }
        }

        .black & {
            color: $color-white;
        }

        span {
            display: inline-block;
            width: 100%;
        }
    }

    &-link {
        box-sizing: border-box;
        min-width: 48px;
        min-height: 100%;
        padding: 4px 0;

        text-align: center;

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }

        span {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        svg {
            transition: background-color .3s ease-out;
            display: inline-block;
            fill: $color-white;
            border-radius: 100%;
            padding: 4px;
            background: $color-black;
            box-shadow: -1px -1px 4px 0px rgba(0,0,0,.05), 1px 1px 3px 0px rgba(0,0,0,.1);

            .has-media & {
                background: transparent;
            }
        }

        &:hover,
        &:focus {
            svg {
                background: rgba($color-blue, 1);

                .has-media & {
                    background: rgba($color-blue, .5);
                }
            }
        }

        &-video {
            z-index: -1;
            border-radius: 100%;
            object-position: center center;
            object-fit: cover;
            position: absolute;
            width: 32px;
            height: 32px;
        }
    }

    &-modal {
        transition: transform ease-out .5s;
        transform: translateY(150%);
        background: $color-black;
        color: rgba(255, 255, 255, .8);
        display: grid;
        height: 144px;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 48px;
        bottom: 24px;

        @include layout-1024() {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
        }

        .absolute & {
            position: absolute;
        }

        .footer-open &,
        .absolute & {
            transform: translateY(0);
        }

        &-link {
            text-align: left;

            &-svg {
                display: none;

                @mixin layout-640() {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &-title {
                display: inline-block;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: -.03rem;
                text-transform: uppercase;
                font-style: italic;

                @include layout-414() {
                    letter-spacing: -.015rem;
                }

                @include layout-640() {
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 0;
                }

                @include layout-1024() {
                    font-style: normal;
                    letter-spacing: 1px;
                }
            }

            &.right {
                text-align: right;
            }

            &.center {
                text-align: center;

                &-right {
                    text-align: center;

                    @include layout-1024() {
                        text-align: right;
                    }
                }
            }
        }
    }
}