.about {
    width: 100%;
    display: block;
    position: relative;
    padding: 2rem 21rem;
    box-sizing: border-box;

    .main-title {
        text-align: left;
    }

    @include layout-1280() {
        .main-subtitle {
            font-weight: 900;
            text-transform: uppercase;
        }
    }


    .main-text {
        video,
        iframe {
        transition: transform ease-in-out 1s, opacity ease-in-out 1s;
        display: block;
        position: relative;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
        max-width: 100%;
        margin-top: to-em(24);
        margin-bottom: to-em(40);
        width: 100%;
        height: auto;

            @include layout-768() {
                margin-top: to-em(40);
                margin-bottom: to-em(24);
            }

            @include layout-1024() {
                margin-left: 0;
                width: 100%;
            }
        }

        iframe {
            height: to-em(520);
        }
    }
}