.about {
    padding-bottom: to-em(272);

    .main-title {
        text-align: left;
    }

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: to-em($gap-540);

        .main-title,
        .main-subtitle {
            margin: 0;
            padding: 0;
            opacity: 0;
            transition: transform ease-in-out 1s, opacity ease-in-out 1s;

            &.view-in,
            &.view-out--above {
                opacity: 1;
                transform: scale(1) translate3d(0, 0, 0);
            }
        }

        .main-title {
            transform: scale(.95);
            grid-column-start: 2;
            grid-column-end: 6;
        }

        .main-subtitle {
            text-align: justify;
            text-transform: uppercase;
            grid-column-start: 1;
            transform: scale(.975) translate3d(0, 100px, 0);
        }

        .main-text {
            transition: transform ease-in-out 1s, opacity ease-in-out 1s;
            grid-column-start: 2;
            grid-column-end: 6;
            padding: 0;
            opacity: 0;
            transform: scale(.975) translate3d(0, 50px, 0);

            &.view-in,
            &.view-out--above {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    @include layout-768() {
        grid-gap: to-em($gap-768);
    }

    @include layout-1024() {
        grid-gap: to-em($gap-1024);
    }

    @include layout-1280() {
        .main-title {
            grid-column-start: 3;
            grid-column-end: 5;
        }

        .main-subtitle {
            font-weight: 800;
            text-transform: uppercase;
            grid-column-start: 2;
        }

        .main-text {
            grid-column-start: 3;
            grid-column-end: 5;
        }
    }

    @include layout-1440() {
        .main-title,
        .main-subtitle {
            margin: 0;
            padding: 0;
            text-align: justify;
        }

        .main-title {
            grid-column-start: 3;
            grid-column-end: 5;
        }

        .main-subtitle {
            font-weight: 800;
            text-transform: uppercase;
            grid-column-start: 2;
        }

        .main-text {
            grid-column-start: 3;
            grid-column-end: 5;
            padding: 0;
        }
    }

    @include layout-1680() {
        grid-gap: to-em($gap-1680);
        grid-gap-row: to-em($gap-1440);
    }

    @include layout-2560() {
        grid-gap: to-em($gap-1920);
        grid-gap-row: to-em($gap-2560);
    }

    &+.about {
        margin-top: to-em(-170);
    }

    .main-text {
        video,
        iframe {
        transition: transform ease-in-out 1s, opacity ease-in-out 1s;
        display: block;
        position: relative;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
        max-width: 100%;
        margin-top: to-em(24);
        margin-bottom: to-em(40);
        width: 100%;
        height: auto;
        opacity: 0;
        transform: scale(.85) translate3d(0, 50px, 0);

            @include layout-768() {
                margin-top: to-em(40);
                margin-bottom: to-em(24);
            }

            @include layout-1024() {
                margin-left: 0;
                width: 100%;
            }

            &.view-in,
            &.view-out--above {
                opacity: 1;
                transform: scale(1);
            }
        }

        iframe {
            height: to-em(520);
        }
    }
}