RewriteEngine On

# Redirect http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Vue Router
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes

#Caching schema
Header set Cache-Control "max-age=2628000, public"

# One month for most static assets
<filesMatch ".(js|ico|css|html)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

# One year for most media
<filesMatch ".(mp4|ts|webm|png|gif|jpg|jpeg|ts|m3u8)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>