.terms {
    .main-text video {
        display: block;
        position: relative;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
        max-width: to-em(480);
        width: 100%;
        height: auto;
    }
}