.project,
.award {
    box-sizing: border-box;
    width: 100%;
    max-width: to-em(768 + $c1-width);
    padding-left: to-em($gap-1440 + $c1-width);

    &-title {
        text-align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        font-weight: 900;
        font-size: to-em(40);
        text-shadow: 1px 0px 1px rgba(0, 0, 0, .1);
        text-transform: uppercase;

        @include layout-768() {
            font-size: to-em(64);
        }

        @include layout-1024() {
            font-size: to-em(104);
            line-height: to-em(74);
        }

        &-wrapper {
            white-space: nowrap;
            overflow: hidden;
        }

        &-marquee {
            animation: marquee-keyframe 90s linear infinite reverse;
        }
    }

    &-media {
        border-radius: to-em(5);
        object-fit: cover;
        object-position: center center;
        display: block;
        position: relative;
        margin: to-em(48) 0 to-em(16);
        min-width: 100%;
        max-width: 100%;
        height: auto;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), -1px -1px 2px rgba(0, 0 ,0 , .05);

        &.extra {
            border-radius: 0;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), -1px -1px 2px rgba(0, 0 ,0 , .05);

            &:last-of-type {
                border-bottom-left-radius: to-em(5);
                border-bottom-right-radius: to-em(5);
                margin-bottom: to-em(-16);
            }
        }

        .project-info-more & {
            margin: to-em(0) auto;
        }
    }

    &-info {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        position: relative;
        margin: 0 auto;
        

        @include layout-1024() {
            max-width: to-em(960);
        }

        &-content {
            width: min-content;
            min-width: 100%;
            max-width: 100%;
        }

        &-description {
            color: var(--black);
            transition: width ease-out 1s, height ease-out 1s;
            text-align: justify;
            border-radius: to-em(5);
            box-sizing: border-box;
            overflow: hidden;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .1), -1px -1px 2px rgba(0, 0 ,0 , .05);

            .award & {
                color: var(--white);
                background: rgba(0, 0, 0, .25);
            }
        }

        &-data {
            padding: to-em(16) 0;
            text-align: justify;

            h3, h4, h5 {
                font-size: to-em(24);
                font-weight: 700;
                padding: to-em(40) to-em(16) to-em(8);
                text-transform: uppercase;

                a {
                    font-weight: 400;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            p {
                padding: 0 to-em(16);
            }

            .first {
                padding: to-em(0) to-em(16) to-em(8);
            }
        }

        &-url {
            text-decoration: underline;
            cursor: pointer;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            &.unavaliable {
                text-decoration: line-through;
                cursor: not-allowed;

                &:hover,
                &:focus {
                    text-decoration: line-through;
                }
            }
        }

        &-check {
            text-align: center;
            width: to-em(240);
            margin: to-em(98) auto;
            display: block;
            position: relative;

            @include layout-1024() {
                margin: to-em(98) auto 0;
            }


            &-it {
                background-color: var(--white);
                display: block;
                position: relative;
                margin: 0 auto;
                border-radius: 100%;
                width: to-em(104);
                height: to-em(104);
                padding: to-em(8);
                object-fit: scale-down;
                object-position: center center;

                &.view-in,
                &.view-out--above {
                    opacity: 1;
                }

                .award & {
                    object-fit: cover;
                    background-color: transparent;
                    padding: 0;
                }
            }

            &-txt {
                transition: background-color ease-in .5s, opacity ease-in .3s;
                text-decoration: underline;
                letter-spacing: to-em(8);
                box-sizing: border-box;
                text-align: justify;
                text-align-last: center;
                text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
                padding-top: to-em(8);
                display: block;
                font-size: to-em(16);
                text-transform: uppercase;
                font-weight: 400;
                position: relative;
                border-radius: 0;
                overflow: visible;
                line-height: to-em(32);

                .award-info-check:hover &,
                .award-info-check:focus &,
                .project-info-check:hover &,
                .project-info-check:focus & {
                    text-decoration: none;
                    color: rgba(255, 255, 255, .7);
                }
            }
        }

        &-more {
            a, h5 {
                font-weight: 400;
                font-size: to-em(16);
            }
        }
    }
}

.project-title,
.project-subtitle,
.project-info-link,
.project-info-more,
.project-info-credit {
    opacity: 1;
    transform: scale(1);
}


.loaded .project-title,
.loaded .project-subtitle,
.loaded .project-info-link,
.loaded .project-info-more,
.loaded .project-info-credit {
    transition: opacity ease-in .3s, transform ease-in-out .3s;
    opacity: 0;
    transform: scale(.95);

    &.view-in,
    &.view-out--above {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes marquee-keyframe {
    0% {
        transform: translate(0, 0);
    }

    33.3339% {
        transform: translate(-200%, 0);
    }

    33.334% {
        transform: translate(0, 0);
    }

    66.6669% {
        transform: translate(-200%, 0);
    }

    66.667% {
        transform: translate(0, 0);
    }

    99.9999% {
        transform: translate(-200%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}