

.project {
    width: 100vw;

    @include layout-1024() {
        margin-bottom: to-em(-91);
    }

    &-background {
        z-index: -1;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center center;
        position: fixed;
        top: 0;
        left: 0;
        opacity: .5;
        filter: blur(10px);
    }

    &-title {
        text-align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: to-em(64);
        text-shadow: 1px 0px 1px rgba(0, 0, 0, .1);

        @include layout-768() {
            font-size: to-em(104);
        }

        a {
            text-transform: uppercase;
            padding: 0 to-em(8);
            border-radius: to-em(6);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-subtitle {
        text-shadow: 1px 0px 1px rgba(0, 0, 0, .1);
        text-align: center;
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: to-em(40);
        padding: to-em(48) 0 0;
    }

    &-media {
        border-radius: to-em(5);
        object-fit: cover;
        object-position: center center;
        display: block;
        position: relative;
        margin: to-em(48) auto to-em(16);
        max-width: 100%;
        height: auto;

        .project-info-more & {
            margin: to-em(0) auto;
        }
    }

    &-info {
        box-sizing: border-box;
        max-width: 100%;
        width: fit-content;
        position: relative;
        margin: 0 auto;

        @include layout-1024() {
            max-width: to-em(960);
        }

        &-content {
            width: min-content;
            min-width: 100%;
            max-width: 100%;
        }

        &-description {
            transition: width ease-out 1s, height ease-out 1s;
            text-align: justify;
            padding: to-em(8) to-em(16);
            border-radius: to-em(5);
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.5);
        }

        &-link {
            font-size: to-em(24);

            &-title {
                font-weight: 400;
                vertical-align: text-bottom;
                display: inline-block;
            }
        }

        &-role {
            padding-top: to-em(2);
            display: block;
            font-size: to-em(16);

            &-title {
                font-weight: 400;
            }
        }

        &-more {
            padding: to-em(16) 0;
            text-align: justify;

            h6 {
                letter-spacing: to-em(4);
                font-size: to-em(16);
                font-weight: 400;
                text-align: left;
                padding: to-em(40) 0 to-em(8);

                &.project-info-credit {
                    padding-top: to-em(40);
                    padding-bottom: to-em(8);
                    text-align: justify;
                    text-align-last: justify;
                    font-size: to-em(24);
                    text-transform: uppercase;
                    font-weight: 300;
                    letter-spacing: to-em(16);
                    text-decoration: underline overline;
                    display: inline-block;
                    text-decoration-skip-ink: none;
                    text-decoration-color: rgba(255, 255, 255, .025);
                    line-height: to-em(64);
                    text-underline-position: under;
                    -webkit-text-decorations-in-effect: blink;

                    @include layout-768() {
                        padding-right: to-em(64);
                        padding-left: to-em(64);
                    }
                }
            }

            .first {
                padding: to-em(24) 0 to-em(8);
            }
        }

        &-check {
            text-align: center;
            width: to-em(240);
            margin: to-em(98) auto;
            display: block;
            position: relative;

            @include layout-1024() {
                margin: to-em(98) auto 0;
            }

            &:hover {
                .project-info-check-it {
                    transform: scaleX(-1);
                }
            }

            &-it {
                transition: transform ease-in-out .5s;
                display: block;
                position: relative;
                margin: 0 auto;
                border-radius: 100%;
                width: to-em(104);
                height: to-em(104);
                object-fit: cover;
                object-position: center center;

                &.view-in {
                    opacity: 1;
                }
            }

            &-txt {
                transition: background-color ease-in .5s, opacity ease-in .3s;
                text-decoration: underline;
                letter-spacing: to-em(8);
                box-sizing: border-box;
                text-align: justify;
                text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
                padding-top: to-em(8);
                display: block;
                font-size: to-em(16);
                text-transform: uppercase;
                font-weight: 300;
                position: relative;
                border-radius: 0;
                overflow: visible;
                line-height: to-em(32);

                .project-info-check:hover &,
                .project-info-check:focus & {
                    text-decoration: none;
                    color: rgba(255, 255, 255, .7);
                }
            }
        }

        &-credit {
            &-logo {
                transition: transform ease-in .5s, opacity ease-in .3s;
                width: 100%;
                height: to-em(168);
                background: $color-white;
                position: relative;
                margin: 0 auto;
                display: block;
                object-fit: contain;
                object-position: center center;
                padding: to-em(16);
                box-sizing: border-box;
                margin-bottom: to-em(-8);
                border-top-right-radius: to-em(16);
                border-bottom-left-radius: to-em(16);
                border-bottom-right-radius: to-em(4);
                opacity: 0;
                transform: scale(0.95);

                &:hover.view-in {
                    transform: scale(0.95);
                }

                @include layout-414() {
                    width: to-em(168);
                }

                &.view-in {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}



.project-title,
.project-subtitle,
.project-media,
.project-info-link,
.project-info-role,
.project-info-more,
.project-info-credit {
    transition: opacity ease-in .3s, transform ease-in-out .3s;
    opacity: 0;
    transform: scale(.95);

    &.view-in {
        opacity: 1;
        transform: scale(1);
    }
}